<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">

  <a th:href="@{/}">Home</a>

  &nbsp; | &nbsp;


  <a th:if="${#request.userPrincipal != null}" th:href="@{/userInfo}">Info </a>

  <a th:if="${#request.userPrincipal != null}" > &nbsp; | &nbsp; </a>

  <a th:if="${#request.userPrincipal != null}" th:href="@{/events}">Events </a>

  <a th:if="${#request.userPrincipal != null}" > &nbsp; | &nbsp; </a>
  <a th:if="${#request.userPrincipal != null}" th:href="@{/places}">Places </a>

  <a th:if="${#request.userPrincipal != null}" > &nbsp; | &nbsp; </a>


  <a th:if="${#request.isUserInRole('ROLE_DEFAULT')}" th:href="@{/}">  </a>

  <a th:if="${#request.isUserInRole('ROLE_DEFAULT')}" > &nbsp; | &nbsp; </a>

  <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>

</div>
