<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Create Group </title>
</head>
<body>
<div th:fragment="content" th:with="roles=${roles}">
    <!-- Вставка фрагмента -->

    <th:block th:include="/fragments/menu"></th:block>
</div>

<div th:fragment="content" th:with="roles=${roles}">
    <!-- Вставка фрагмента -->

    <th:block th:include="/fragments/menu1"></th:block>
</div>


<h3>Enter course name:</h3>
<form name='createGroup' th:action="@{/events/create}" method='POST'>
    <table>
        <tr>
            <td>Event Name:</td>
            <td><input type='text' name='eventName' value=''></td>
        </tr>
        <tr>
            <td>Place Name:</td>
            <td> <select name="placeDTO">
                <option th:each="placeDTO : ${placeDTOs}"
                        th:value="${placeDTO}"
                        th:text="${placeDTO.getPlaceName()}">
                    ...</option>
            </select></td>
        </tr>
        <tr>
            <td>Event date:</td>
            <td><input type='date' name='dateEvent' value=''></td>
        </tr>
        <tr>
            <td>Event tickets:</td>
            <td><input type='text' name='tickets' value=''></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
</form>

</body>

</html>
