<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Create Place </title>
</head>
<body>
<th:block th:include="/fragments/menu"></th:block>


<h3>Enter place name:</h3>
<form name='createGroup' th:action="@{/places/create}" method='POST'>
    <table>
        <tr>
            <td>Place Name:</td>
            <td><input type='text' name='placeName' value=''></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type='text' name='address' value=''></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
</form>

</body>

</html>
