<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Create Group </title>
</head>
<body>
<th:block th:include="/fragments/menu"> </th:block>

<th:block th:include="/fragments/menu1"> </th:block>


<h3>Enter course name:</h3>
<form name='createGroup' th:action="@{/groups/create}" method='POST'>
    <table>
        <tr>
            <td>Group Name:</td>
            <td><input type='text' name='groupName' value=''></td>
        </tr>
        <tr>
            <td>Group Description:</td>
            <td><input type='text' name='groupDescription' value=''></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
</form>

</body>

</html>
