<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${title}"></title>
</head>
<body>
<th:block th:include="/fragments/menu"> </th:block>

<th:block th:include="/fragments/menu1"> </th:block>


<h3>Enter course name:</h3>
<form name='f' th:action="@{/subjects/create}" method='POST'>
    <table>
        <tr>
            <td>Course:</td>
            <td><input type='text' name='subjectName' value=''></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
</form>

</body>

</html>
