<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Events Get </title>
</head>
<body>
<th:block th:include="/fragments/menu"></th:block>

    <div th:if="${#request.isUserInRole('ROLE_MANAGER') || #request.isUserInRole('ROLE_ADMIN')}">

        <a th:href="@{/createEvent}">Create </a>
    </div>

<table border = "1">

    <tr>
        <th>Название события</th>
        <th>Описание</th>
    </tr>
    <tr th:each = "event : ${events}">
        <td th:utext="${event.getName()}">...</td>
        <td th:utext="${event.getPlace().getAddress()}">...</td>
    </tr>
</table>

</body>
</html>