<!DOCTYPE html>
<html
    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Groups Get </title>
</head>
<body>
    <th:block th:include="/fragments/menu"></th:block>

    <div th:if="${#request.isUserInRole('ROLE_ADMIN') || #request.isUserInRole('ROLE_STUFF')}">
        <th:block th:include="/fragments/menu1"> </th:block>
    </div>

<table border = "1">

    <tr>
        <th>Название группы</th>
        <th>Описание</th>
    </tr>
    <tr th:each = "group : ${groups}">
        <td th:utext="${group.groupName}">...</td>
        <td th:utext="${group.description}">...</td>
    </tr>
</table>

</body>
</html>