<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Groups Get </title>
</head>
<body>
<th:block th:include="/fragments/menu"></th:block>

    <div th:if="${roles.contains('ROLE_ADMIN') || roles.contains('ROLE_MANAGER')}">


        <th:block th:include="/fragments/menu1"></th:block>
    </div>

<table border = "1">

    <tr>
        <th>Назва місця</th>
        <th>Адресс</th>
    </tr>
    <tr th:each = "place : ${places}">
        <td th:utext="${place.getName()}">...</td>
        <td th:utext="${place.getAddress()}">...</td>
    </tr>
</table>

</body>
</html>