<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:include="/fragments/menu"></th:block>

    <table border = "1">

        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон</th>
            <th>Студенческий билет</th>
        </tr>
        <tr th:each = "student : ${students}">
            <td th:utext="${student.firstName}">...</td>
            <td th:utext="${student.lastName}">...</td>
            <td th:utext="${student.phone}">...</td>
            <td th:utext="${student.studTicketNumber}">...</td>
        </tr>
    </table>

</body>
</html>