<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:include="/fragments/menu"></th:block>

    <form name='choiceTeacher' th:action="@{/teacherSubjects/choiceTeacher}" method='POST'>
        <table>
            <tr>
                <select name="teacherId">
                    <option th:each="teacher : ${teachers}"
                            th:value="${teacher.Id}"
                            th:text="${teacher.firstName} + ' ' + ${teacher.lastName}">
                        ...</option>
                </select>
            </tr>

            <tr>
                <td><input name="submit" type="submit" value="submit"/></td>
            </tr>
        </table>
    </form>

    <h3>Teacher : <span th:utext="${teachersInfo}"></span></h3>

    <table border = "1">
        <tr>
            <th>Название предмета</th>
        </tr>
        <tr th:each = "subject : ${subjects}">
            <td th:utext="${subject.subjectName}">...</td>
        </tr>
    </table>

</body>
</html>