<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:include="/fragments/menu"></th:block>

<table border = "1">

    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Телефон</th>
    </tr>
    <tr th:each = "teacher : ${teachers}">
        <td th:utext="${teacher.firstName}">...</td>
        <td th:utext="${teacher.lastName}">...</td>
        <td th:utext="${teacher.phone}">...</td>
    </tr>
</table>

</body>
</html>