<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:include="/fragments/menu"></th:block>

<th:block th:include="/fragments/menu1"> </th:block>

<table border = "1">

    <tr>
        <th>Дата</th>
        <th>Номер пары</th>
        <th>Аудитория</th>
        <th>Предмет</th>
        <th>Группа</th>
        <th>Преподаватель</th>
    </tr>
    <tr th:each = "timetable : ${timetables}">
        <td th:utext="${timetable.dateOfDay}">...</td>
        <td th:utext="${timetable.pairsNumber}">...</td>
        <td th:utext="${timetable.auditory}">...</td>
        <td th:utext="${timetable.subjectId.getSubjectName()}">...</td>
        <td th:utext="${timetable.groupId.getGroupName()}">...</td>
        <td th:utext="${timetable.teacherId.getFirstName() + ' ' + timetable.teacherId.getLastName()}">...</td>
    </tr>
</table>

</body>
</html>