<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> UpdateCourse </title>
</head>
<body>
<th:block th:include="/fragments/menu"> </th:block>

<th:block th:include="/fragments/menu1"> </th:block>

<h3>Enter course name:</h3>
<form name='updateSubject' th:action="@{/subjects/update}" method='POST'>
    <table>
        <tr>
            <select name="subjectName">
                <option th:each="subject : ${subjects}"
                        th:value="${subject.subjectName}"
                        th:text="${subject.subjectName}">
                    ...</option>
            </select>
        </tr>

        <tr>
            <td>Course:</td>
            <td><input type='text' name='updateSubjectName' value=''></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
</form>

</body>

</html>
